<div class="container">
    <img src="/assets/images/back-arrow.png" class="backbutton" alt="back" routerLink="/employee/employee-list">
    <div class="col-8 offset-2">
        <h3 class="text-center mt-2">

            Employee Details - {{employee.id}}</h3>
        <div class="row  text-center mt-5">
            <div class="col-md-6">
                <div class="details">
                    <div class="label-name">Name</div>
                    <div class="content">{{employee.name}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="details">
                    <div class="label-name">Date Of Birth</div>
                    <div class="content">{{employee.dob}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="details">
                    <div class="label-name">Address</div>
                    <div class="content">{{employee.address}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="details">
                    <div class="label-name">Role</div>
                    <div class="content">{{employee.role}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="details">
                    <div class="label-name">Salary</div>
                    <div class="content">{{employee.salary}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="details">
                    <div class="label-name">Experience</div>
                    <div class="content">{{employee.experience}}</div>
                </div>
            </div>
        </div>
    </div>
</div>